---
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/Pagination.astro";
import Tag from "../../components/Tag.astro";
import { newtClient } from "../../lib/newt";
import type { Article, Tag } from "../../lib/newt";
import { getAllSlugs, prevNextPost } from "../../lib/api";

export const getStaticPaths = async () => {
    const { items: articles } = await newtClient.getContents<Article>({
        appUid: "blog",
        modelUid: "article",
        query: {
            select: [
                "title",
                "slug",
                "body",
                "tags",
                "coverImage",
                "price",
                "type",
                "url",
            ],
        },
    });

    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { article },
    }));
};

const { article } = Astro.props;

const allSlugs = await getAllSlugs();
console.log("allSlugs", allSlugs);
const [prevPost, nextPost] = prevNextPost(allSlugs, article.slug);
console.log("prevPost", prevPost);
console.log("nextPost", nextPost);
---

<Layout title={article.title} description="投稿詳細ページです">
    <main>
        <article>
            <div class="aritcle-inner">
                <a href={article.url} target="_blank">
                    <h1>{article.title}</h1>
                </a>
                <a href={article.url} target="_blank" class="image-link">
                    <img src={`${article.coverImage.src}`} alt="" />
                </a>
                <ul class="l-tag-list">
                    {
                        article.tags.map((tag) => {
                            return <Tag tag={tag} />;
                        })
                    }
                    <li class="c-tag">
                        <span>
                            {article.price}
                        </span>
                    </li>
                    <li class="c-tag">
                        <span>
                            {article.type}
                        </span>
                    </li>
                </ul>
                <section set:html={article.body} class="l-body" />
                <Pagination
                    prevText={prevPost.title}
                    prevUrl={`/articles/${prevPost.slug}`}
                    nextText={nextPost.title}
                    nextUrl={`/articles/${nextPost.slug}`}
                />
            </div>
        </article>
    </main>
</Layout>
<style>
    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 2rem;
        border-bottom: solid 2px;
    }
    .image-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        margin-top: 2rem;
        width: min(100%, 600px);
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
    article {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1000px 1fr;
    }
    .aritcle-inner {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .l-tag-list {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .price,
    .type {
        font-weight: bold;
    }
    .c-tag {
        border: solid 1px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        padding-inline: 0.5rem;
        min-width: 100px;
        background-color: #fff;
        color: #000;
    }
</style>
