---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
import { newtClient } from "../lib/newt";
import { getArticleByTags } from "../lib/api";
import type { Article, Tag } from "../lib/newt";

const { items: articles } = await newtClient.getContents<Article>({
	appUid: "blog",
	modelUid: "article",
	query: {
		select: ["title", "slug", "body", "coverImage"],
	},
});

const { items: tags } = await newtClient.getContents<Tag>({
	appUid: "blog",
	modelUid: "tag",
	query: {
		select: ["name", "slug", "_id"],
	},
});

const firstTargetItem = tags.find((tag) => tag.name === "フロントエンド");
const firstItems = await getArticleByTags(firstTargetItem._id);

const secondTargetItem = tags.find((tag) => tag.name === "コーダー");
const secondItems = await getArticleByTags(secondTargetItem._id);
---

<Layout title="Newt・Astroブログ" description="NewtとAstroを利用したブログです">
	<main>
		<div class="list-container">
			<h2 class="heading2">{firstTargetItem.name}</h2>
			<ul class="l-card-list">
				{
					firstItems.map((item) => {
						return (
							<>
								<Card article={item} />
							</>
						);
					})
				}
			</ul>
		</div>
		<div class="list-container">
			<h2 class="heading2">{secondTargetItem.name}</h2>
			<ul class="l-card-list">
				{
					secondItems.map((item) => {
						return (
							<>
								<Card article={item} />
							</>
						);
					})
				}
			</ul>
		</div>
		<div class="list-container">
			<h2 class="heading2">All Articles</h2>
			<ul class="l-card-list">
				{
					articles.map((article) => {
						return (
							<>
								<Card article={article} />
							</>
						);
					})
				}
			</ul>
		</div>
		<div class="list-container">
			<h2 class="heading2">TAG</h2>
			<div class="l-tag-list">
				{
					tags.map((tag) => {
						return <Tag tag={tag} />;
					})
				}
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.list-container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr 1000px 1fr;
		display: grid;
		grid-template-columns: 1fr 1084px 1fr;

		@media only screen and (max-width: 1184px) {
			grid-template-columns: 1fr 90% 1fr;
		}

		& > * {
			grid-column: 2;
		}
	}
	.l-card-list {
		display: flex;
		gap: 2rem;
		margin-top: 2rem;
		flex-wrap: wrap;
	}
	.l-tag-list {
		display: flex;
		gap: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.heading2 {
		font-size: 2rem;
		font-weight: bold;
		border-bottom: solid 1px;
	}
</style>
